/* Styles For Tables ************************************************************************************************/

@media screen and (max-width: 767px)  {
  .table-wrapper {
      overflow: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
  }
}
   
.ce-table  {                                                      width: 100%; max-width: 100%; 
    td                                                            {padding: .25rem .25rem .25rem .75rem; vertical-align: top; border-top: 1px solid $tableLineColor; }
    th                                                            {padding: .25rem .25rem .25rem .75rem; vertical-align: top; border-top: 1px solid $tableHeaderLineColor; } 
    th                                                            {background-color: $tableHeader; color: $tableHeaderColor; }          
    label                                                         {margin-bottom: 0;}
    p                                                             {margin: 0;}   
    
    /* Sorting */
    .tablesorter-header-inner                                     {display: flex; justify-content: space-between; align-items: center; }
    th.tablesorter-headerDesc .tablesorter-header-inner::after,                
    th.tablesorter-headerAsc .tablesorter-header-inner::after     {font-size: 70%; content:''; font-family: $symbol; padding-left: 3px; } 
     
    th.tablesorter-headerAsc .tablesorter-header-inner::after     {content:'\F175';}
    th.tablesorter-headerDesc .tablesorter-header-inner::after    {content:'\F176';}       

}

   /* Layouts */

   .ce-table-stripe tbody tr:nth-of-type(even) td                 {background-color: rgba(120,120,120,.2);}
   
   .ce-table-colorstripe tbody tr:nth-of-type(even) td            {background-color: saturate(rgba($baseColor,.2),10%);}   
   .ce-table-colorstripe th,
   .ce-table-normalplus th                                        {background-color: rgba($baseColor, .7); color: #fff;}           

   .ce-table-bordered thead  th                                   {border-right: 1px solid $tableLineColor; border-bottom: 1px solid $tableLineColor; border-top: 1px solid $tableLineColor;}
   .ce-table-bordered thead  th:first-of-type                     {border-left: 1px solid $tableLineColor}  
      
   .ce-table-bordered td                                          {border-right: 1px solid $tableLineColor; border-bottom: 1px solid $tableLineColor;}
   .ce-table-bordered td:first-of-type                            {border-left: 1px solid $tableLineColor}  
   .ce-table-bordered tr:last-of-type td                          {border-bottom: 1px solid $tableLineColor;} 
   
   .ce-table-noline td                                            {border: 0 !important; padding: .25rem 0; }
   .ce-table-noline thead th                                      {padding: .25rem 0; vertical-align: top; border-top: 0; border-bottom: 1px solid $tableLineColor; color: #333; background-color: transparent;  } 

   .ce-table-stripe tr:last-of-type td                            {border: 0 !important;} 
   .ce-table-colorstripe tr:last-of-type td                       {border: 0 !important;} 
   
   .ce-table-lined thead  th                                      {border-bottom: 1px solid $tableLineColor;}  
   .ce-table-lined td                                             {border-bottom: 1px solid $tableLineColor;}

   

  /* Fixed Layoutssets */
  
  .frame-type-table.frame-layout-1001  td:first-of-type     {width: 10%}
  .frame-type-table.frame-layout-1001  td:last-of-type      {width: 90%}
  
  .frame-type-table.frame-layout-1002  td:first-of-type     {width: 20%}
  .frame-type-table.frame-layout-1002  td:last-of-type      {width: 80%}
  
  .frame-type-table.frame-layout-1003  td:first-of-type     {width: 30%}
  .frame-type-table.frame-layout-1003  td:last-of-type      {width: 70%}
  
  .frame-type-table.frame-layout-1004  td:first-of-type     {width: 40%}
  .frame-type-table.frame-layout-1004  td:last-of-type      {width: 60%}
  
  .frame-type-table.frame-layout-1005  td                   {width: 50%}
  
  .frame-type-table.frame-layout-1006  td:first-of-type     {width: 60%}
  .frame-type-table.frame-layout-1006  td:last-of-type      {width: 40%}
  
  .frame-type-table.frame-layout-1007  td:first-of-type     {width: 70%}
  .frame-type-table.frame-layout-1007  td:last-of-type      {width: 30%}
  
  .frame-type-table.frame-layout-1008  td:first-of-type     {width: 80%}
  .frame-type-table.frame-layout-1008  td:last-of-type      {width: 20%}
  
  .frame-type-table.frame-layout-1009  td:first-of-type     {width: 90%}
  .frame-type-table.frame-layout-1009  td:last-of-type      {width: 10%}
  
  .frame-type-table.frame-layout-1010  td:first-of-type     {width: 20%}
  .frame-type-table.frame-layout-1010  td:nth-of-type(2)    {width: 40%}
  .frame-type-table.frame-layout-1010  td:last-of-type      {width: 40%}
  
  .frame-type-table.frame-layout-1011  td                   {width: 33.3%}
  
  .frame-type-table.frame-layout-1012  td:first-of-type     {width: 40%}
  .frame-type-table.frame-layout-1012  td:nth-of-type(2)    {width: 30%}
  .frame-type-table.frame-layout-1012  td:last-of-type      {width: 30%}
  
  .frame-type-table.frame-layout-1013  td:first-of-type     {width: 50%}
  .frame-type-table.frame-layout-1013  td:nth-of-type(2)    {width: 25%}
  .frame-type-table.frame-layout-1013  td:last-of-type      {width: 25%}
  
  .frame-type-table.frame-layout-1014  td:first-of-type     {width: 60%}
  .frame-type-table.frame-layout-1014  td:nth-of-type(2)    {width: 20%}
  .frame-type-table.frame-layout-1014  td:last-of-type      {width: 20%}
  
  .frame-type-table.frame-layout-1015  td:first-of-type     {width: 80%}
  .frame-type-table.frame-layout-1015  td:nth-of-type(2)    {width: 10%}
  .frame-type-table.frame-layout-1015  td:last-of-type      {width: 10%}
  
  .frame-type-table.frame-layout-1016  td                   {width: 25%}
  
  .frame-type-table.frame-layout-1017  td                   {width: 20%}
  .frame-type-table.frame-layout-1017  td:first-of-type     {width: 40%} 
  
  .frame-type-table.frame-layout-1018  td                   {width: 16%}
  .frame-type-table.frame-layout-1018  td:first-of-type     {width: 50%} 
  
  .frame-type-table.frame-layout-1019  td                   {width: 20%}
  
  .frame-type-table.frame-layout-1020  td                   {width: 15%}
  .frame-type-table.frame-layout-1020  td:first-of-type     {width: 40%} 
  
  .frame-type-table.frame-layout-1021  td                   {width: 10%}
  .frame-type-table.frame-layout-1021  td:first-of-type     {width: 60%} 
  
  .frame-type-table.frame-layout-1022  td                   {width: 10%}
  .frame-type-table.frame-layout-1022  td:first-of-type     {width: 50%} 
  
  .frame-type-table.frame-layout-1023  td                   {width: 15%}
  .frame-type-table.frame-layout-1023  td:first-of-type     {width: 25%} 
  
  .frame-type-table.frame-layout-1024  td                   {width: 10%}
  .frame-type-table.frame-layout-1024  td:first-of-type     {width: 40%} 
  
  .frame-type-table.frame-layout-1025  td                   {width: 10%}
  .frame-type-table.frame-layout-1025  td:first-of-type     {width: 30%} 
  
  .frame-type-table.frame-layout-1026  td                   {width: 10%}
  .frame-type-table.frame-layout-1026  td:first-of-type     {width: 20%} 
  
  .frame-type-table.frame-layout-1027  td                   {width: 10%}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      
